<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Page</title>
    <link rel="stylesheet" href="/stock/admin.css">
</head>
<body>
    <!-- 상태 변경 완료 팝업 -->
    <div id="status-popup" class="popup hidden">
        <div class="popup-content">
            <p id="popup-message"></p>
            <button id="popup-close">확인</button>
        </div>
    </div>

    <!-- 상태 변경 확인 팝업 -->
    <div id="confirm-popup" class="popup hidden">
        <div class="popup-content">
            <p id="confirm-message"></p>
            <div class="popup-buttons">
                <button id="confirm-yes">예</button>
                <button id="confirm-no">아니요</button>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>통합품질관리시스템</h3>
        <div class="select-session">
            <a class="stock-link">Stock</a>
            <a class="pay-link">Pay</a>
            <a class="menu-link">Menu</a>
        </div>

        <p class="divide"></p>

        <div class="stock-session">
            <div class="session">
                <div class="filter-session">
                    <button id="filter" class="filter-btn">
                        <img src="/stock/images/filter.png" alt="필터 아이콘" class="filter-icon">
                        Filter
                    </button>
                    <input class="filter-input" type="text" placeholder="메뉴명 입력해주세요">
                </div>
                
                <div class="branch-session">
                    <button class="branch-btn active" data-branch="1">강서지점</button>
                    <button class="branch-btn" data-branch="2">상봉지점</button>
                    <button class="branch-btn" data-branch="3">하남지점</button>
                </div>
            </div>

            <table class="stock-table">
                <thead class="session-name">
                    <tr>
                        <th>NO</th>
                        <th>지점명</th>
                        <th>메뉴명</th>
                        <th>재고량</th>
                        <th>상품상태</th>
                        <th>발주상태</th>
                    </tr>
                </thead>
                <tbody class="stock-table-body">
                    <tr>
                        <td colspan="6">조회 내역이 없습니다.</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <script src="/js/admin/stock.js"></script>
    <script src="/js/admin/common.js"></script>
    
</body>
</html>
