<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Page</title>
    <link rel="stylesheet" href="/css/stock.css">
</head>
<body>
    <div class="container">
        <h3>통합품질관리시스템</h3>
        <div class="select-session">
            <a>Stock</a>
            <a>Pay</a>
        </div>

        <p class="divide"></p>

        <div class="stock-session">
            <div class="session">
                <div class="filter-session">
                    <select id="filter">
                        <option value="option1" class="option1">Filter</option>
                        <option value="option2" class="option2">예시1</option>
                        <option value="option3" class="option3">예시2</option>
                    </select>
                    <input class="filter-input" type="text" placeholder=" 메뉴명 입력해주세요">
                </div>
                
                <div class="branch-session">
                    <a ><button class="active">강서지점</button></a>
                    <a ><button>상봉지점</button></a>
                    <a ><button>하남지점</button></a>
                </div>
                
            </div>

            
            <table class="stock-table">
                <thead class="session-name">
                    <tr>
                        <th>NO</th>
                        <th>지점명</th>
                        <th>메뉴명</th>
                        <th>재고량</th>
                        <th>상품상태</th>
                        <th>발주상태</th>
                        <th>발주하기</th>
                    </tr>
                </thead>
                <tbody class="stock-table-body">
                    <tr>
                        <td colspan="7">조회 내역이 없습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/stock.js"></script>
</body>
</html>