<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kiosk.menu.MenuMapper">

    <select id="findAll" resultType="com.example.kiosk.menu.Menu">
        SELECT m.*, s.product_status
        FROM menu m
        LEFT JOIN stock s ON s.menu_id = m.menu_id
        GROUP BY m.menu_id
    </select>

    <select id="findById" resultType="com.example.kiosk.menu.Menu" parameterType="int">
        SELECT * FROM menu WHERE menu_id = #{menuId}
    </select>

    <insert id="insert" parameterType="com.example.kiosk.menu.Menu">
        INSERT INTO menu (menu_name, menu_code, image)
        VALUES (#{menuName}, #{menuCode}, #{image})
    </insert>

    <update id="updateProductStatus" parameterType="map">
        UPDATE stock
        SET product_status = #{productStatus}
        WHERE menu_id = #{menuId}
    </update>


</mapper>
